/* Estilos globais */
body {
  background-color: #ffffff; /* Fundo branco */
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
  overflow: hidden; /* Remove a barra de rolagem */
}

/* Título */
.title {
  font-size: 25px;
  color: #000000; /* Cor preta */
  font-weight: bold; /* Fonte mais grossa */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Estilos do formulário */
form {
  background-color: #f8f9fa;
  padding: 30px; /* Reduzido o padding nas laterais */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 1s ease-out; /* Animação de entrada */
}

/* Estilos dos inputs */
input[type="text"] {
  width: 70%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

/* Estilos dos botões */
button {
  background-color: red; /* Vermelho forte */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao botão */
}

button:hover {
  background-color: #c9302c;
}

/* Estilos do botão de admin */
button.admin-button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
}

button.admin-button:hover {
  background-color: #f0f0f0;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos responsivos */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  form {
    padding: 15px;
  }

  button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .title {
    font-size: 28px;
  }
}
